{% extends "base.html.twig" %}
{% block body %}
<h1>BIENVENU DANS CET APPLICATION </h1>
<p> c'est une application qui gere les employers de la SOCIETE SA ELECTRONIC. <br>Chaque employer est generé avec ses propres identifiants et sa fonctions ainsi que son salaire  </p>
{% endblock %}